@import '../scss/partials/reset';
@import '../scss/partials/variables';
@import '../scss/partials/mixins';
@import '../scss/partials/todo';
@import '../scss/partials/todolist';

.app{
    text-align: center;
}
.header{
    .page-title{
    font-size: 40px;
    padding: 15px;
    font-weight: bold;
    @include content-color($cc :$color5)
}
}
.button{
    border-radius: 50px;
    width: 400px;
    padding: 6px;
    font-size: 30px;
    @include page-background-color($bc : $color5);
}

h3{
    display: none;
}

.text, .edit-input1,.edit-input2,.edit-input3{
    @include container-width($cw: 270px);
    padding: 10px;
    border-style: none;
    border-bottom: 1px solid;
    font-size: 17px;
    
}




// p{
//     font-weight: bold;
// }
// .page-header{
//     @include contain-heigth($ch: 100px);
//     @include page-background-color($pc: red);
// }
// .body-container{
//     display: flex;

// }
// .side-navigation{
    
//     @include contain-width($cw: 275px);
//     @include page-background-color($pc: $color4);
    
// }
// .content-area{
    
//     @include contain-width($cw: 100%);
//     @include page-background-color($pc: $color3);
    
// }
// .page-footer{
//     @include contain-heigth($ch: 100px);
//     @include page-background-color($pc: $color1);
// }

