@mixin test() {
    color: $color1;
    background-color: $color3;
}

@mixin heading($color: green, $fs: 50) {
    $px: unquote("px");
    color: $color;
    font-weight: bold;

    @if($fs>= 10 && $fs <= 50) {
        font-size: #{$fs/2}$px;
    }
    @else {
        font-size: 100px;
    }
}

@mixin border-radius($br) {
    border-radius: $br;
    -webkit-border-radius: $br;
    -moz-border-radius: $br;
    -ms-border-radius: $br;
    -o-border-radius: $br;
}

.test {
    background-color: $color1;
}