.input{
    display: none;
    border: 1px solid;
    margin: 15px 50px;
    text-align: center;
    padding: 20px;
}

.hidden{
    display: none;
} 
.todo-list{
    
    padding: 10px;
    font-size: 20px;
    
   
}
.item{
    display: flex;
    @include page-background-color($bc :$color4);
   
}

.item-text, .item-date, .item-time, .item-priority{
  padding: 15px;
//   @include page-background-color($bc :$color4);

}
.edit-input1,.edit-input2,.edit-input3{
    @include page-background-color($bc : $color4);
}
.action-btns{
    padding: 13px;
}