
.input{
    display: none;
    border: 1px solid;
    margin: 15px 50px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;    
}
label{    
    font-weight: bold;
    font-size: 20px;
}
form{
    padding: 5px 0px;
}
form{
    label{
        font-size: 15px;
    }
}
p{
    @include content-color($cc :$color1);
    font-size: 13px;
    text-align: left;
    padding: 2px 0px;
}
#add-btn{
    border-radius: 50px;
    @include container-width($cw :250px);
    padding: 6px;
    font-size: 20px;
    @include page-background-color($bc :$color5);
}